-var formattedPhone = (bar.phone.substr(0,3)==="+1-" ? bar.phone.substr(3) : bar.phone)
doctype html
html
    head
        title= bar.name
        link(rel="stylesheet" href="/client/css/main.css" type="text/css")
    include ./includes/header.jade
    body
        .container
            p.bar-id(style="display:none")= bar.id
            a.yelpLink(src=bar.url)
                p.bar-name= bar.name
            img.bar-thumb(src=bar.img)
            .details
                p.bar-phone= formattedPhone
                p.bar-desc= bar.desc
            .going-div
                h3.going-header Who's going?
                button.me-too.hide Me Too!
                button.nah.hide Nah...
                ul.going-list
                each val in visitors
                    li.going-item= val
    script(type="text/javascript" src="/common/ajax-functions.js")
    script(type="text/javascript" src="/controllers/userController.client.js")