doctype html
html
    head
        title= placeName
        link(rel="stylesheet" href="/client/css/main.css" type="text/css")
    include ./includes/header.jade
    body
        .container
            a.yelpLink(src=bar.url)
                p.bar-name= bar.name
            img.bar-thumb(src=bar.img)
            .details
                p.bar-phone= bar.phone
                p.bar-desc= bar.desc
            .goingList
                h3.going-header Who's going?
                button.me-too Me Too!
                button.nah.hide Nah...
                ul.going-list
                each val in visitors
                    li.going-item= val